API_BASE_URL=XXXXXXXXXXXXXXXXX
SESSION_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXX
CSRF_ENFORCE=true
CSRF_TRUSTED_ORIGINS=http://localhost:5181


Jwt__Key=XXXXXXXXXXXXXXXXXXXXXXXXXXXx
Jwt__Issuer=XXXXXXXXXXXXXXX
Jwt__Audience=XXXXXXXXXXXX
Auth__Username==XXXXXXXXXXXXX
Auth__Password=XXXXXXXXXXXXXXXXXXXXXXXXXX
ConnectionStrings__DefaultConnection=HXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
Cors__AllowedOrigins=http://localhost:5181
DB_PASSWORD=XXXXXXXXXXXXXXXXXXXXXx